[Unit]
Description=Run GPS clock synchronization periodically

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
AccuracySec=30s
Unit=gps-time-sync.service

[Install]
WantedBy=timers.target
